<%= render "pages/home" %>

<% if user_signed_in? %>
<div class = "user-content">

    <% if current_user.admin? %>
      <h1>Listing Finances</h1>
      <%= link_to 'New Finance', new_finance_path, class: "btn btn-primary" %>
      <br><br/>
    <% else %>
       <h1><%= current_user.fullname %>'s Finances</h1>
    <% end %>
  <%= grid(@finances_grid) do |f| 
      
    f.column name: 'Name', attribute: 'fullname', model: 'User' do |fin|
      User.find(fin.user_id).fullname 
    end
    f.column name: 'ID', attribute: 'id', model: 'User' do |fin|
      fin.user_id
    end
    f.column name: 'Team', attribute: 'team', model: 'User' do |fin|
      fin.user.team
    end
    f.column name: 'Date', attribute: 'date', model: 'Finance', filter: false do |fin|
      fin.date
    end
    f.column name: 'Supporter Name', attribute: 'supporter_name', model: 'Finance', filter: false do |fin|
      fin.supporter_name
    end
    f.column name: 'Cash Amount', attribute: 'cash_amount', model: 'Finance', filter: false do |fin|
      fin.cash_amount
    end
    f.column name: 'Check Amount', attribute: 'check_amount', model: 'Finance', filter: false do |fin|
      fin.check_amount
    end
    if current_user.admin? 
      f.column name: 'Notes', attribute: 'notes', model: 'Finance' do |fin|
        fin.notes
      end
      f.column name: 'Data Entry', attribute: 'data_entry', model: 'Finance' do |fin|
        fin.data_entry
      end
      f.column name: 'Audit', attribute: 'audit', model: 'Finance' do |fin|
        fin.audit
      end
      f.column name: 'Edit' do |fin|
        link_to 'Edit', edit_finance_path(fin)
      end
      f.column name: 'Destroy' do |fin|
        link_to 'Destroy', fin, method: :delete, data: { confirm: 'Are you sure?' }
      end
    end

    
    #f.column do |eddes|
    #    link_to 'Edit', edit_finance_path(eddes)
    #    link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' }
    #end
  end -%>
  <div class ="form-actions">
    <p> <strong>Total Cash Amount:</strong> $
    <%= @total_cash %>
    </p>
    <p><strong>Total Check Amount:</strong> $
    <%= @total_check %>
    </p>
    <p><strong>Total Amount:</strong> $
    <%= @total_amount %>
    </p>
  </div>
  <br />
  <% if current_user.admin? %>
      <%= link_to 'New Finance', new_finance_path, class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
