<%= render "pages/home" %>

<% if user_signed_in? %>
<% if current_user.admin? %>
    <h1>Listing Finances</h1>
<% else %>
    <h1><%= current_user.fullname %>'s Finances</h1>
<% end %>

<table class = "table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Team</th>
    <th>Date</th>
    <th>Supporter name</th>
    <th>Cash amount</th>
    <th>Check amount</th>
    <th>Check number</th>
    <% if current_user.admin? %>
        <th>Notes</th>
        <th>Data entry</th>
        <th>Audit</th>
        <th></th>
        <th></th>
    <% end %>
  </tr>
<% @finances.each do |finance| %>
  <tr>
   <td><%= User.find(finance.user_id).fullname %></td>
    <td><%= finance.user_id %></td>
    <td><%= finance.user.team %></td>
    <td><%= finance.date %></td>
    <td><%= finance.supporter_name %></td>
    <td><%= finance.cash_amount %></td>
    <td><%= finance.check_amount %></td>
    <td><%= finance.check_number %></td>
    <% if current_user.admin? %>
        <td><%= finance.notes %></td>
        <td><%= finance.data_entry %></td>
        <td><%= finance.audit %></td>

        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.admin? %>
    <%= link_to 'New Finance', new_finance_path, class: "btn btn-primary" %>
<% end %>

<% end %>
